.icon--arrow {
    width: 1rem;
    height: 1rem;
}

.header--blue {
    background: $blue-1;
}

.menu,
.menu__item {
 background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  z-index: $zIndex-5;
  -webkit-overflow-scrolling: touch;
  width: 40%;
  height: 100%;
  animation-duration: 0.5s;
    -webkit-transform-duration: 0.5s;
      -moz-transform-duration: 0.5s;
}

.menu__item {
   animation-duration: 0.2s;
    -webkit-transform-duration: 0.2s;
      -moz-transform-duration: 0.2s;
}

.menu:target  {
    display: block;  
}

.menu__item:target  {
    display: block;
}

.menu__hd {
    padding: 1rem;
    background-color: #004a88;
    color: $white;
}

.hide {
  display: none;
}

.show{
  display: block;
}

.contextual-nav a, .contextual-nav a:visited {
    color: $blue-1;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 16px;
    transition: background-color 0.2s linear;
    padding: 0.5rem 1.25rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.contextual-nav a.isActive, .contextual-nav a:hover {
    background-color: #003764;
    color: $white;
    text-decoration: none;
}

.hamburger__navicon--isActive {
  background-color: transparent; 
}

.hamburger__container {
    background-color: $blue-1;
}


 @media (max-width: $breakpoint-medium) {
    .menu,
    .menu__item {
        width: 100%;
        top: 47px;
     }

     .mainHeader {
        position: fixed;
     }

}


// @media (max-width: 600px)