//----------------------------------------------------
// Calendar
//----------------------------------------------------

$bright--x1: #f5f5f5; /* nmurs */


.calendar {
    font-family: $font-brand;
}

.calendar__btn--prev,
.calendar__btn--next {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2211px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2011%2018%22%20enable-background%3D%22new%200%200%2011%2018%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpolygon%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%230C96D4%22%20points%3D%2211%2C9%209.075%2C7.091%209.075%2C7.091%201.925%2C0%200%2C1.91%207.149%2C9%20%0D%0A%09%09%090%2C16.092%201.925%2C18%209.074%2C10.91%209.075%2C10.91%20%09%09%22/%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
}

.calendar__month {
   font-family: $font-brand-bold;
}

.calendar__table td {
   @include border-radius(4px);
   color: $blue-1;
}

.calendar__table td:hover,
.calendar__table td.focus {
    border-color: $blue-4;
    background: $blue-4;

}

.calendar__table__weekdays th {
    font-family: $font-brand-light;
}

.calendar__table td.today {
    border: 1px solid $blue-4;
    font-family: $font-brand-bold;
    color: $blue-1;
    background: none;
}

.calendar__table td.today:hover {
    background-color: $blue-4;
}

.calendar__table td.inactiveDay {
    color: $gray-3;
}

.calendar__table td.inactiveDay:hover,
.calendar__table td.inactiveDay.focus {
    color: $gray-3;
}

.calendar__table td.dueDate {
    background-color: lighten($yellow-1, 40%);
    border: 1px solid $yellow-1;
}


//----------------------------------------------------
// Datepicker
//----------------------------------------------------
.datepicker__btn {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20enable-background%3D%22new%200%200%2020%2020%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%230C96D4%22%20d%3D%22M11.579%2C10.525L11.579%2C10.525c-0.582%2C0-1.053%2C0.472-1.053%2C1.054c0%2C0.581%2C0.472%2C1.053%2C1.053%2C1.053l0%2C0%0D%0A%09c0.581%2C0%2C1.053-0.472%2C1.053-1.053C12.632%2C10.997%2C12.16%2C10.525%2C11.579%2C10.525z%20M8.421%2C9.474c0.581%2C0%2C1.053-0.472%2C1.053-1.053%0D%0A%09S9.002%2C7.368%2C8.421%2C7.368S7.369%2C7.84%2C7.369%2C8.421S7.84%2C9.474%2C8.421%2C9.474z%20M11.579%2C7.368L11.579%2C7.368%0D%0A%09c-0.582%2C0-1.053%2C0.472-1.053%2C1.053s0.471%2C1.053%2C1.053%2C1.053l0%2C0c0.581%2C0%2C1.053-0.472%2C1.053-1.053S12.16%2C7.368%2C11.579%2C7.368z%0D%0A%09%20M12.632%2C2.105H7.369v2.105h5.263V2.105z%20M14.736%2C9.474c0.581%2C0%2C1.053-0.472%2C1.053-1.053s-0.471-1.053-1.053-1.053%0D%0A%09s-1.053%2C0.472-1.053%2C1.053S14.156%2C9.474%2C14.736%2C9.474z%20M14.736%2C12.632c0.581%2C0%2C1.053-0.472%2C1.053-1.053%0D%0A%09c0-0.582-0.471-1.053-1.053-1.053s-1.053%2C0.471-1.053%2C1.053C13.684%2C12.16%2C14.156%2C12.632%2C14.736%2C12.632z%20M8.421%2C12.632%0D%0A%09c0.581%2C0%2C1.053-0.472%2C1.053-1.053c0-0.582-0.471-1.054-1.053-1.054c-0.582%2C0-1.052%2C0.472-1.052%2C1.054%0D%0A%09C7.369%2C12.16%2C7.84%2C12.632%2C8.421%2C12.632z%20M5.263%2C15.789c0.581%2C0%2C1.053-0.472%2C1.053-1.052c0-0.582-0.472-1.053-1.053-1.053%0D%0A%09c-0.582%2C0-1.053%2C0.471-1.053%2C1.053C4.21%2C15.317%2C4.682%2C15.789%2C5.263%2C15.789z%20M17.895%2C2.105h-1.053v2.105h1.053v13.684H2.105V4.211%0D%0A%09h1.052V2.105H2.105C0.943%2C2.105%2C0%2C3.048%2C0%2C4.211v13.684C0%2C19.058%2C0.943%2C20%2C2.105%2C20h15.789C19.058%2C20%2C20%2C19.058%2C20%2C17.895V4.211%0D%0A%09C20%2C3.048%2C19.058%2C2.105%2C17.895%2C2.105z%20M5.263%2C12.632c0.581%2C0%2C1.053-0.472%2C1.053-1.053c0-0.582-0.472-1.054-1.053-1.054%0D%0A%09c-0.582%2C0-1.053%2C0.472-1.053%2C1.054C4.21%2C12.16%2C4.682%2C12.632%2C5.263%2C12.632z%20M5.263%2C9.474c0.581%2C0%2C1.053-0.472%2C1.053-1.053%0D%0A%09S5.844%2C7.368%2C5.263%2C7.368c-0.582%2C0-1.053%2C0.472-1.053%2C1.053S4.682%2C9.474%2C5.263%2C9.474z%20M8.421%2C15.789%0D%0A%09c0.581%2C0%2C1.053-0.472%2C1.053-1.052c0-0.582-0.472-1.053-1.053-1.053s-1.052%2C0.471-1.052%2C1.053C7.369%2C15.317%2C7.84%2C15.789%2C8.421%2C15.789%0D%0A%09z%20M5.263%2C4.211c0.581%2C0%2C1.053-0.472%2C1.053-1.053V1.053C6.316%2C0.471%2C5.845%2C0%2C5.263%2C0C4.682%2C0%2C4.21%2C0.471%2C4.21%2C1.053v2.105%0D%0A%09C4.21%2C3.739%2C4.682%2C4.211%2C5.263%2C4.211z%20M14.736%2C4.211c0.581%2C0%2C1.053-0.472%2C1.053-1.053V1.053C15.789%2C0.471%2C15.317%2C0%2C14.736%2C0%0D%0A%09c-0.582%2C0-1.053%2C0.471-1.053%2C1.053v2.105C13.684%2C3.739%2C14.156%2C4.211%2C14.736%2C4.211z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}